<template>
  <div id="all-courses">
    <headerComponent :dark="true" />
    <div class="_main_heading">
      <div class="_width">
        <h1>
          <span class="_underline">{{ OneElement.title }}</span>
        </h1>
        <p class="_grey">
          {{ OneElement.description }}
        </p>
        <div class="_flex">
          <div class="month">
            <b class="_white"> {{ OneElement.month_count }} месяцев </b>
          </div>
          <div class="price">
            <b class="_white" v-if="OneElement.price">
              {{ OneElement.price.toLocaleString() + " сум/месяц " }}</b
            >
          </div>
          <div class="all-price" v-if="this.OneElement.month_count < 3">
            <b class="_white" v-if="this.OneElement.month_count"
              >{{
                (
                  Number(OneElement.price) * Number(OneElement.month_count)
                ).toLocaleString() + " за весь курс"
              }}
            </b>
          </div>
          <div class="all-price" v-else>
            <b class="_white" v-if="this.OneElement.month_count"
              >{{
                Number(OneElement.price) * Number(OneElement.month_count) * 0.8
              }}
              за весь курс (-20%)</b
            >
          </div>
        </div>
        <div class="_person">
          <div class="_profile">
            <img
              v-if="OneElement.teacherId"
              :src="OneElement.teacherId.avatar_url"
              alt=""
            />
          </div>
          <div class="_teacher">
            <b class="_white" v-if="OneElement.teacherId">
              {{ OneElement.teacherId.name }}
            </b>
          </div>
        </div>
        <button
          class="_button"
          @click="
            OPEN_MODAL({
              name: 'modal_course',
            })
          "
        >
          Записаться на курс
        </button>
        <!-- <div class="right-side">
          <img src="~/static/img//bigViewport.png" alt="" />
        </div> -->
      </div>
    </div>

    <div class="_margin"></div>
    <div class="_width">
      <p class="_h2 _black">Что вас ждет на курсе</p>
      <div class="_margin_small"></div>
      <div class="_grid">
        <div class="block">
          <div class="preview">
            <img src="~/static/img/image1-courses.svg" alt="" />
          </div>
          <div class="description">
            <h3 class="_h3 _black">Более 2 месяцев прокачки</h3>
            <div class="_p _grey">
              60+ дней плотной работы в команде с кураторами дадут неизбежный
              результат развития навыков.
            </div>
          </div>
        </div>
        <div class="block">
          <div class="preview">
            <img src="~/static/img/image2-courses.svg" alt="" />
          </div>
          <div class="description">
            <h3 class="_h3 _black">Разборы работ</h3>
            <div class="_p _grey">
              Индивидуальная работа куратора с каждым учеником отдельно в ЛС и
              разбор каждого домашнего задания с рекомендациями по улучшению
              навыков.
            </div>
          </div>
        </div>
        <div class="block">
          <div class="preview">
            <img src="~/static/img/image3-courses.svg" alt="" />
          </div>
          <div class="description">
            <h3 class="_h3 _black">Окружение</h3>
            <div class="_p _grey">
              Тусовка единомышленников, новые друзья. Общий чат. Окружение - 50%
              успеха, тебе всегда помогут, подскажут, ты точно дойдёшь до
              результата.
            </div>
          </div>
        </div>
        <div class="block">
          <div class="preview">
            <img src="~/static/img/image4-courses.svg" alt="" />
          </div>
          <div class="description">
            <h3 class="_h3 _black">Прямые эфиры</h3>
            <div class="_p _grey">
              На прямых эфирах с кураторами курса можно узнать много нового не
              только в сфере дизайна, но и в сфере личностного развития,
              маркетинга, в продажах. Все эфиры будут сохраняться, чтобы ты
              всегда мог их посмотреть заново.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_bg_grey">
      <div class="list-programs" v-if="OneElement">
        <p class="_h2 _black">Программа курса</p>
        <div class="_margin-minimal"></div>

        <div class="_titles" v-if="OneElement.course_programm">
          <div v-for="item of OneElement.course_programm" :key="item.id">
            <p>
              {{ OneElement.course_programm.indexOf(item) + 1 }}.
              {{ item.substring(0, 35) + "..." }}.
              <!-- {{item}} -->
            </p>
            <div class="line"></div>
          </div>
          <h3
            v-if="
              this.OneElement.course_programm &&
              OneElement.course_programm.length > 13
            "
          >
            Show the rest ({{ OneElement.course_programm.length - 12 }})
          </h3>
        </div>
      </div>
    </div>

    <div class="_width">
      <div class="margin"></div>
      <div class="_margin_small"></div>
      <div class="_margin_small"></div>
      <p class="_h2 _black">Какие программы вы освоете</p>
      <div class="_programs">
        <p
          v-for="item of OneElement.programms_to_learn"
          :key="item.id"
          class="gradient-text"
        >
          {{ item.toUpperCase() }}
        </p>
      </div>
      <div class="margin"></div>
      <div class="_margin_small"></div>
      <div class="_margin_small"></div>
      <p class="_h2 _black">Как проходит обучение</p>
      <div class="margin"></div>
      <div class="_grid">
        <div class="_lesson">
          <p class="gradient-text">01</p>
          <div>
            <p class="_h3">Добавление в чат</p>
            <p class="_p _black">
              Ты попадаешь в чат Telegram и начинаешь знакомство с
              единомышленниками.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <p class="gradient-text">02</p>
          <div>
            <p class="_h3">Просмотр уроков</p>
            <p class="_p _black">
              Уроки и домашние задания будут доступны на обучающей платформе
              GetCourse.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <p class="gradient-text">03</p>
          <div>
            <p class="_h3">Домашние задания</p>
            <p class="_p _black">
              Практически после каждого видеоурока идёт домашнее задание для
              закрепления всей пройденной информации.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <p class="gradient-text">04</p>
          <div>
            <p class="_h3">Самостоятельные работы</p>
            <p class="_p _black">
              В конце каждого модуля ты будешь выполнять самостоятельную работу,
              которая покажет, насколько хорошо удалось закрепить пройденный
              этап.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <p class="gradient-text">05</p>
          <div>
            <p class="_h3">Разбор работ</p>
            <p class="_p _black">
              Ты Самостоятельные работы проверяются кураторами курса. Они
              разбирают каждого, тем самым объясняя проблемные зоны ученика и на
              что стоит сделать упор. Таким образом, ты видишь свои ошибки и
              учишься на них.
            </p>
          </div>
        </div>
        <div class="_lesson">
          <p class="gradient-text">06</p>
          <div>
            <p class="_h3">Экзамены</p>
            <p class="_p _black">
              Все участники получают разные темы проекта. В экзамене нужно будет
              сделать все этапы разработки сайта, презентацию проекта. Записать
              видео с объяснениями и продать свой дизайн кураторам и автору
              курса.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Form class="_bg-black" />
  </div>
</template>

<script>
import "~/static/css/all-course.css";
import "~/static/css/course.css";

import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  props: ["details"],
  data() {
    return {
      firstTwelve: [],
      WL: "",
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData", "OneElement"]),
  },
  methods: {
    ...mapActions(["GetData", "GetOneElement"]),
    ...mapMutations(["OPEN_MODAL"]),
  },
  mounted() {
    this.GetOneElement();
 
    // if (process.client) {
    //   // this.WL = window.location.href.split("/")[3];
    //   // this.widthWindow = window.innerWidth <= 960;
    //   if (this.WL == "") {
    //     this.firstTwelve = this.OneElement.course_programm.splice(0, 12);
    //   } else {
    //     this.firstTwelve = this.OneElement.course_programm;
    //   }
    // }
  },
};
</script>


<style>
</style>