<template>
  <div id="about">
    <div class="_heading">
        <span class="_h2">Как проходят <span>занятия</span></span>
      </div>
      <div class="_margin-minimal"></div>
    <div class="item">
      <div class="side-left">
        <div class="top">
          <b class="_b"> Максимальная продуктивность </b>

          <p class="_grey">
            PyCharm позаботится о рутинных задачах, а вы сможете сосредоточиться
            на более важных вещах. Работая в PyCharm, вы экономите время — для
            большинства задач не нужно отрывать руки от клавиатуры.
          </p>
        </div>
        <div class="bottom">
          <b class="_b"> Помощь при написании кода</b>

          <p class="_grey">
            PyCharm знает все о вашем коде. Умный механизм анализа кода
            обеспечивает точное автодополнение, поиск ошибок и быстрые
            исправления, удобную навигацию по коду и другие полезные функции.
          </p>
        </div>

        <button
          class="_button _no-bg"
          @click="
            OPEN_MODAL({
              name: 'modal_course',
            })
          "
        >
          Записаться
        </button>
      </div>
      <div class="side-right">
        <img src="~/static/img/table1.jpg" alt="" />
      </div>
    </div>
    <div class="_margin_small"></div>
    <div class="item">
      <div class="side-left">
        <img src="~/static/img/Chat.png" alt="" />
      </div>
      <div class="side-right">
        <div class="top">

          <b class="_b">Повышение качества кода </b>

          <p class="_grey">
            PyCharm помогает писать красивый код, который легко поддерживать.
            IDE контролирует качество кода с помощью проверок соответствия
            требованиям PEP8, умных рефакторингов и множества инспекций, а также
            оказывает помощь при тестировании.
          </p>
        </div>
        <div class="bottom">
          <b class="_b">Все, что нужно</b>
          <p class="_grey">
            PyCharm создается программистами для программистов, поэтому в нем
            есть все необходимое для продуктивной разработки на Python.
          </p>
        </div>

        <button
          class="_button _no-bg"
          @click="
            OPEN_MODAL({
              name: 'modal_course',
            })
          "
        >
          Записаться
        </button>
      </div>
    </div>
    <div class="_margin_small"></div>
    <div class="item">
      <div class="side-left">
        <div class="top">
          <b class="_b"> Максимальная продуктивность </b>

          <p class="_grey">
            PyCharm позаботится о рутинных задачах, а вы сможете сосредоточиться
            на более важных вещах. Работая в PyCharm, вы экономите время — для
            большинства задач не нужно отрывать руки от клавиатуры.
          </p>
        </div>
        <div class="bottom">
          <b class="_b"> Помощь при написании кода</b>
          <p class="_grey">
            PyCharm знает все о вашем коде. Умный механизм анализа кода
            обеспечивает точное автодополнение, поиск ошибок и быстрые
            исправления, удобную навигацию по коду и другие полезные функции.
          </p>
        </div>

        <button
          class="_button _no-bg"
          @click="
            OPEN_MODAL({
              name: 'modal_course',
            })
          "
        >
          Записаться
        </button>
      </div>
      <div class="side-right">
        <img src="~/static/img/people.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
import "~/static/css/default.css";

export default {
  props: ["details"],
  computed: {
    ...mapGetters(["modals"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
     
  },
};
</script>
<style>
</style>