<template>
  <div class="_grid" id="courses">
    <nuxt-link
      v-for="item of Courses.body"
      :key="item._id"
      :to="'/courses/' + item._id"
    >
      <div class="_item">
        <div class="_preview">
          <img src="~/static/img/students.jpg" alt="" />
        </div>
        <div class="_description">
          <p class="_h3 _black">{{ item.title }}</p>
          <p class="_p _grey">{{ item.teacherId.name }}</p>
          <p>{{ item.price }} сум/месяц</p>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import "~/static/css/course.css";
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      Courses: [],
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  mounted() {
    if (process.client) {
      this.Courses = this.AllData.AllCourse;
    }
  },
};
</script>

<style>
</style>