<template>
  <footer>
    <div class="map" style="position: relative; overflow: hidden">
      <a
        href="https://yandex.uz/maps/10334/samarkand/?utm_medium=mapframe&utm_source=maps"
        style="color: #eee; font-size: 12px; position: absolute; top: 0px"
        >Самарканд</a
      ><a
        href="https://yandex.uz/maps/10334/samarkand/?ll=66.923629%2C39.646310&utm_medium=mapframe&utm_source=maps&z=18.4"
        style="color: #eee; font-size: 12px; position: absolute; top: 14px"
        >Карта Самарканда с улицами и номерами домов онлайн — Яндекс Карты</a
      ><iframe
        class="y_map"
        src="https://yandex.uz/map-widget/v1/-/CCUBiHsigD"
        width="100%"
        frameborder="1"
        allowfullscreen="true"
        style="position: relative"
      ></iframe>
    </div>

    <div class="_footer_container_bottom">
      <img
        class="_footer_logo_pc"
        src="../static/images/weplo-logo.svg"
        alt=""
      />
      <img
        class="_footer_logo_mobile"
        src="../static/images/wepro-logo-mobile.svg"
        alt=""
      />
      <p>MchJ “Wepro” 2022</p>
    </div>
  </footer>
</template>

<script>
import "../static/css/default.css";
import "../static/css/footer.css";
import "../static/css/media.css";

export default {
  data() {
    return {};
  },
};
</script>

<style>
.map {
  position: relative;
  z-index: 9;
}
.map::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #000000;
}
</style>