<template>
  <div class="_flex">
    <form
      class="_modals_form"
      @submit.prevent="SEND_LEADS('leads')"
      method="POST"
    >
      <input type="text" name="name" placeholder="Ваше имя" />
      <input
        type="text"
        v-mask="'+998 (##) ###-##-##'"
        v-model="inputPhoneModel"
        name="phone"
        placeholder="Номер телефона"
      />
      <input
        v-if="this.modals.modal_groups.status"
        type="text"
        name="groupsId"
        placeholder="groputs id"
      />
      <!-- :placeholder="this.AllData.AllGroups.body._id" -->
      <select name="courseId">
        <option
          v-for="item of AllData.AllCourse.body"
          :key="item._id"
          :value="item._id"
        >
          {{ item.title }}
        </option>
      </select>
      <div class="_flex" v-if="this.modals.modal_free_lesson.status"></div>
      <button class="_button">Записаться на курс</button>
    </form>
    <div v-if="this.modals.modal_course.status"></div>
  </div>
</template>


<script>
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      inputPhoneModel: "",
    };
  },
  name: "FormModal",
  props: ["details"],
  computed: {
    ...mapGetters(["modals", "AllData", "OneElement"]),
  },
  methods: {
    ...mapActions(["GetData", "SEND_LEADS"]),
    ...mapMutations(["OPEN_MODAL"]),
  },
  async mounted() {
    await this.GetData(["AllCourse"]);
    await this.GetData(["AllGroups"]);
  },
};
</script>

<style>
</style>