<template>
  <div class="_form">
    <div class="_width">
      <div class="side-left">
        <img src="~/static/img/Group2.png" alt="" />
      </div>
      <div class="side-right">
        <form
          class="dark open_lesson"
          method="POST"
          @submit.prevent="SEND_LEADS('leads')"
        >
          <label class="_white _h2"><span class="_underline">Записаться</span> на курс</label>
          <div class="_margin_small"></div>
          <input
            name="name"
            type="text"
            placeholder="Ваше имя"
            class="_input_dark"
          />
          <input
            name="phone"
            type="text"
            placeholder="Номер телефона"
            v-mask="'+998 (##) ###-##-##'" v-model="inputPhoneModel"
            class="_input_dark"
          />
          <select name="courseId" class="_dark">
            <option
              v-for="item of AllData.AllCourse.body"
              :key="item._id"
              :value="item._id"
            >
              {{ item.title }}
            </option>
          </select>
          <button class="_button">Записаться на курс</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      inputPhoneModel: "",
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
    ...mapActions(["GetData", "SEND_LEADS"]),
  },
};
</script>

<style>
</style>