<template>
  <div id="gallery-comp">
    <div class="gal" v-if="this.WL == 'Gallery'">
      <div class="img" v-for="item of 18" :key="item"></div>
    </div>
    <div class="gal" v-else>
      <div class="img" v-for="item of 9" :key="item"></div>
    </div>
  </div>
</template>

<script>
import "~/static/css/default.css";
export default {
  data() {
    return {
      WL: "",
    };
  },
  mounted() {
    this.WL = window.location.href.split("/")[3];
  },
};
</script>

<style>
</style>