<template>
  <div id="groups">
    <VueSlickCarousel v-bind="settings" v-if="widthWindow">
      <div v-for="item of Groups" :key="item._id">
        <div class="_course" v-if="item.courseId.title">
          <h3 v-if="item.courseId" class="_h3">{{ item.courseId.title }}</h3>
          <p class="_p _grey">Осталось {{ item.need_quantity }} мест</p>
          <div class="bar">
            <div class="count"></div>
          </div>
          <div class="about">
            <b v-if="item.days == '2-4-6'">Вторник-Четверг-Суббота</b>
            <b v-else>Понедельник-среда-пятница</b>

            <b v-if="item.time_num <= '12'">Утро, {{ item.time }} </b>
            <b v-else-if="item.time_num >= '12' && item.time_num <= '17'"
              >Обед, {{ item.time }}
            </b>
            <b v-else>Вечер, {{ item.time_num }} </b>

            <b v-if="item.courseId">{{ item.courseId.price }} сум/месяц</b>
            <b v-if="item.courseId">{{ item.teacherId.name }}</b>
          </div>
          <button
            @click.prevent="
              OPEN_MODAL({
                name: 'modal_groups',
              })
            "
            class="_button _no-bg"
          >
            <b>Записаться</b>
          </button>
        </div>
      </div>
    </VueSlickCarousel>

    <div v-else class="_flex">
      <div v-for="item of Groups" :key="item._id">
        <div class="_course">
          <h3 class="_h3">{{ item.courseId.title }}</h3>
          <p class="_p _grey">Осталось {{ item.need_quantity }} мест</p>
          <div class="bar">
            <div class="count"></div>
          </div>
          <div class="about">
            <b v-if="item.days == '2-4-6'">Вторник-Четверг-Суббота</b>
            <b v-else>Понедельник-среда-пятница</b>

            <b v-if="item.time_num <= '12'">Утро, {{ item.time }} </b>
            <b v-else-if="item.time_num >= '12' && item.time_num <= '17'"
              >Обед, {{ item.time }}
            </b>
            <b v-else>Вечер, {{ item.time }} </b>

            <b v-if="item.courseId">{{ item.courseId.price }} сум/месяц</b>
            <b v-if="item.courseId">{{ item.teacherId.name }}</b>
          </div>
          <button
            @click="
              OPEN_MODAL({
                name: 'modal_groups',
              })
            "
            class="_button _no-bg"
          >
            <b>Записаться</b>
          </button>
        </div>
      </div>
      <!-- </nuxt-link> -->
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  name: "Group",
  components: {
    VueSlickCarousel,
  },
  data() {
    return {
      Groups: [],
      time: {},
      WL: "",
      widthWindow: false,
      settings: {
        autoplay: true,
        autoplaySpeed: 3000,
        slidesToShow: 2,
        centerPadding: "20px",
        rows: 1,
        slidesToScroll: 2,
      },
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
  },
  mounted() {
    if (process.client) {
      this.WL = window.location.href.split("/")[3];
      this.widthWindow = window.innerWidth <= 960;
      if (this.WL == "") {
        for (let el of this.AllData.AllGroups.body) {
          if (!el.courseId) {
            this.AllData.AllGroups.body = this.AllData.AllGroups.body.filter(
              (item) => item !== el
            );
          }
          if (this.widthWindow) {
            this.Groups = this.AllData.AllGroups.body;
            console.log(this.Groups);
          } else {
            this.Groups = this.AllData.AllGroups.body.splice(0, 3);
          }
        }
        for (let item of this.Groups) {
          item.time_num = item.time.replace(":", "").slice(0, 2);
          if (item.time_num >= "12" && item.time_num <= "17") {
          }
        }
      } else {
        this.Groups = this.AllData.AllGroups.body;
      }
      if (window.innerWidth <= 370) {
        this.settings.slidesToShow = 1;
        this.settings.slidesToScroll = 1;
      }
    }
  },
};
</script>

<style>
@media only screen and (max-width: 960px) {
  .slick-arrow {
    display: none !important;
  }
  ._course {
    width: 90% !important;
    margin: 0 auto;
  }
}
</style>