<template>
  <header id="#header" :class="dark ? '_dark_heaing' : '_white_heading'">
    <div class="side-left">
      <nuxt-link v-if="dark" to="/">
        <img class="_logo pc" src="~/static/img/logo-white.svg" alt="" />
        <img class="_logo mobile" src="~/static/img/logo-white-mini.svg" alt="" />
      </nuxt-link>
      <nuxt-link class="_logo" v-else to="/">
        <img src="~/static/img/logo-black.svg" alt="" />
      </nuxt-link>
      <div class="links" :class="dark ? '_white' : '_dark'">
        <nuxt-link to="/AllCourse">Все курсы</nuxt-link>
        <nuxt-link to="/AllGroups">Успейте записаться</nuxt-link>
        <nuxt-link to="/AllTeachers">Преподаватели</nuxt-link>
        <nuxt-link to="/Gallery">Фотографии</nuxt-link>
        <nuxt-link to="/">Бесплатный урок</nuxt-link>
        <nuxt-link to="/">Контакты</nuxt-link>
      </div>
    </div>
    <div class="side-right">
      <div
        class="change-language pc"
        @click="CHANGE_LANGUAGE(CurrentLanguage == 'uz' ? 'ru' : 'uz')"
      >
        <div class="tumbler-block">
          <p
            :class="{ corp: CurrentLanguage == 'ru', _white: dark }"
            class="_p"
          >
            RU
          </p>
          <div class="tumbler" :class="CurrentLanguage == 'uz' ? 'active' : ''">
            <div></div>
          </div>
          <p
            :class="{ corp: CurrentLanguage == 'uz', _white: dark }"
            class="_p"
          >
            UZ
          </p>
        </div>
      </div>
      <div class="change-language mobile">
        <b
          class="_white"
          @click="CHANGE_LANGUAGE(CurrentLanguage == 'uz' ? 'ru' : 'uz')"
        >
          {{ $t("state") }}
        </b>
      </div>

      <img
        v-if="dark"
        style="cursor: pointer"
        @click="OPEN_MODAL({ name: 'modal_contacts' })"
        src="~/static/img/phone-white.svg"
        alt=""
      />
      <img
        v-else
        style="cursor: pointer"
        @click="OPEN_MODAL({ name: 'modal_contacts' })"
        src="~/static/img/phone-black.svg"
        alt=""
      />
      <img
        @click="OPEN_MODAL({ name: 'menubar' })"
        src="~/static/img/close_icon.svg"
        v-if="this.modals.menubar.status"
        alt=""
      />
      <img
        v-if="dark"
        src="~/static/img/menu-white.svg"
        @click="OPEN_MODAL({ name: 'menubar' })"
        alt=""
      />
      <img
        v-else
        src="~/static/img/menu-black.svg"
        @click="OPEN_MODAL({ name: 'menubar' })"
        alt=""
      />
    </div>
  </header>
</template>

<script>
import '~/static/css/header.css'
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  props: ["dark"],
  data() {
    return {
      CurrentLanguage: "",
    };
  },
  computed: {
    ...mapGetters(["modals"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
    CHANGE_LANGUAGE(details) {
      this.$router.push(this.switchLocalePath(details));
      this.switchLocalePath(details);
      localStorage.language = details;
      this.CurrentLanguage = details;
    },
  },
  created() {
    if (process.client) {
    }
  },
  mounted() {
    this.CurrentLanguage = localStorage.language;
  },
};
</script>

<style>
</style>