<template>
  <main id="modals">
    <div class="modal_course">
      <transition name="transform-bottom-top" mode="out-in">
        <div
          @click="OPEN_MODAL({ name: 'modal_course' })"
          v-if="this.modals.modal_course.status"
          class="_form_modal_bg"
        ></div>
      </transition>
      <transition name="transform-bottom-top" mode="out-in">
        <div
          v-if="this.modals.modal_course.status"
          class="_form_modal _flex _flex_spec"
        >
          <div class="width">
            <h3>Записаться на курс</h3>
            <FormModal />
          </div>
          <div class="line"></div>
          <div class="width left">
            <div class="_h3">Стоимость курса</div>
            <div class="_link_text">"{{ OneElementModals.course.title }}"</div>
            <div class="_flex">
              <h1>{{ OneElementModals.course.price }}</h1>
              <div class="_p _grey">сум/месяц</div>
            </div>
            <div class="_flex">
              <p class="_p _grey _through_line">700,000</p>
              <div class="_p _grey">сум/месяц</div>
            </div>
            <p class="_text_end">Оплата на месте</p>
          </div>
        </div>
      </transition>
    </div>
    <div class="modal_course">
      <transition name="transform-bottom-top" mode="out-in">
        <div
          @click="OPEN_MODAL({ name: 'modal_free_lesson' })"
          v-if="this.modals.modal_free_lesson.status"
          class="_form_modal_bg"
        ></div>
      </transition>
      <transition name="transform-bottom-top" mode="out-in">
        <div v-if="this.modals.modal_free_lesson.status" class="_form_modal">
          <h3>Открытый урок</h3>
          <div class="_flex">
            <form
              class="_modals_form"
              @submit.prevent="SEND_LEADS('OpenLead')"
              method="POST"
            >
              <input type="text" name="name" placeholder="Ваше имя" />
              <input
                type="text_grid"
                name="phone"
                placeholder="Номер телефона"
                v-mask="'+998 (##) ###-##-##'"
                v-model="inputPhoneModel"
              />
              <select name="courseId">
                <option
                  v-for="item of AllData.AllCourse.body"
                  :key="item._id"
                  :value="item._id"
                >
                  {{ item.title }}
                </option>
              </select>
              <div
                class="_flex"
                v-if="this.modals.modal_free_lesson.status"
              ></div>
              <input type="checkbox" name="alone" />
              <button class="_button">Записаться на курс</button>
            </form>
            <div v-if="this.modals.modal_course.status"></div>
          </div>
        </div>
      </transition>
    </div>
    <div id="modal_contacts">
      <transition name="transform-bottom-top" mode="out-in">
        <div
          @click="OPEN_MODAL({ name: 'modal_contacts' })"
          v-if="this.modals.modal_contacts.status"
          class="_form_modal_bg"
          :class="this.modals.modal_contacts.status ? '_active-bg' : ''"
        ></div>
      </transition>
      <transition name="transform-bottom-top" mode="out-in">
        <div
          :class="this.modals.modal_contacts.status ? '_active-bg' : ''"
          v-if="this.modals.modal_contacts.status"
          class="_form_modal"
        >
          <p class="_h3">Наши контакты</p>
          <a href="tel:+998911977100"> <p class="_text">91 197-71-00</p></a>
          <p class="_p _grey">Звоните с 09:00 до 17:00 ПН-СБ</p>
          <div class="icons">
            <a target="blank" href="https://www.instagram.com/wepro.uz/">
              <img src="~/static/img/instagram.svg" alt="" />
            </a>
            <a target="blank" href="https://t.me/weprouz">
              <img src="~/static/img/telegram.svg" alt="" />
            </a>
            <a target="blank" href="https://www.facebook.com/wepro.uz/">
              <img src="~/static/img/facebook.svg" alt="" />
            </a>
          </div>
          <button class="_button">Оставить заявку на курс</button>
        </div>
      </transition>
    </div>
    <div id="modal_groups">
      <transition name="transform-bottom-top" mode="out-in">
        <div
          @click="OPEN_MODAL({ name: 'modal_groups' })"
          v-if="this.modals.modal_groups.status"
          class="_form_modal_bg"
        ></div>
      </transition>
      <transition name="transform-bottom-top" mode="out-in">
        <div
          v-if="this.modals.modal_groups.status"
          class="_form_modal _flex _flex_spec"
        >
          <div>
            <h3>Записаться на набор</h3>
            <form
              class="_modals_form"
              @submit.prevent="SEND_LEADS('Groups')"
              method="POST"
            >
              <input type="text" name="name" placeholder="Ваше имя" />
              <input
                type="text_grid"
                name="phone"
                placeholder="Номер телефона"
              />
              <select name="groupId">
                <option
                  v-for="item of AllData.AllGroups.body"
                  :key="item._id"
                  :value="item._id"
                >
                  {{ manageDays(item.days) }} - {{ item.time }}
                </option>
              </select>
              <div
                class="_flex"
                v-if="this.modals.modal_free_lesson.status"
              ></div>

              <button class="_button">Записаться на курс</button>
            </form>
          </div>
          <div class="line"></div>
          <div class="left">
            <div class="_h3">Стоимость курса</div>
            <div class="_link_text">“Frontend-разработка”</div>
            <div class="_flex">
              <h1>575,000</h1>
              <div class="_p _grey">сум/месяц</div>
            </div>
            <div class="_flex">
              <p class="_p _grey _through_line">700,000</p>
              <div class="_p _grey">сум/месяц</div>
            </div>
            <p class="_text_end">Оплата на месте</p>
          </div>
        </div>
      </transition>
    </div>
    <div id="menubar">
      <div :class="this.modals.menubar.status ? 'active' : ''" id="menu-block">
        <div v-if="this.modals.menubar.status">
          <headerComponent :dark="true" id="header-menu" />
          <!-- <img class="logo" src="~/static/img/logo-black.svg" alt="" /> -->
          <div class="links">
            <NuxtLink class="effect-underline" to="/AllCourse">
              <span
                class="effect-underline"
                @click="OPEN_MODAL({ name: 'menubar' })"
                >Все курсы
              </span>
            </NuxtLink>
            <NuxtLink class="effect-underline" to="/AllGroups">
              <span @click="OPEN_MODAL({ name: 'menubar' })"
                >Успейте записаться</span
              >
            </NuxtLink>
            <NuxtLink class="effect-underline" to="/AllTeachers">
              <span @click="OPEN_MODAL({ name: 'menubar' })"
                >Преподаватели</span
              >
            </NuxtLink>
            <NuxtLink class="effect-underline" to="/Gallery">
              <span @click="OPEN_MODAL({ name: 'menubar' })">Фотографии</span>
            </NuxtLink>
            <NuxtLink class="effect-underline" to="/">
              <span @click="OPEN_MODAL({ name: 'menubar' })"
                >Бесплатный урок</span
              >
            </NuxtLink>
            <NuxtLink class="effect-underline" to="/">
              <span @click="OPEN_MODAL({ name: 'menubar' })">Контакты</span>
            </NuxtLink>
          </div>
          <div>
            <h2 class="_h3">
              <img src="~/static/img/phone-black.svg" alt="" />
              <a href="tel:+998911977100">+998 91 197-71-00</a>
            </h2>
          </div>
        </div>
      </div>
      <transition name="transform-bottom-top" mode="out-in">
        <div
          @click="OPEN_MODAL({ name: 'menubar' })"
          v-if="this.modals.menubar.status"
          class="_form_modal_bg"
        ></div>
      </transition>
    </div>
  </main>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
import "~/static/css/default.css";

export default {
  data() {
    return {
      inputPhoneModel: "",
    };
  },
  props: ["details"],
  computed: {
    ...mapGetters(["modals", "AllData", "OneElementModals"]),
  },
  methods: {
    ...mapMutations(["OPEN_MODAL"]),
    ...mapActions(["GetData", "SEND_LEADS"]),
    manageDays(nums) {
      let days = "";

      if (nums.slice(0, 1) == "1") {
        days = days + "ПН - ";
      }
      if (nums.slice(0, 1) == "2") {
        days = days + "ВТ - ";
      }
      if (nums.slice(2, 3) == 3) {
        days = days + "СР - ";
      }
      if (nums.slice(2, 3) == 4) {
        days = days + " ЧТ - ";
      }
      if (nums.slice(4, 5) == 5) {
        days = days + " ПТ ";
      }
      if (nums.slice(4, 5) == 6) {
        days = days + "СБ";
      }
      return days;
    },
  },
  created() {
    console.log(this.OneElementModals);
  },
};
</script>
<style>
</style>