<template>
  <div id="teachers">
    <div class="_width">
      <div class="teachers_wrap">
        <div
          class="teacher"
          v-for="item of AllData.AllTeachers.body"
          v-bind:key="item.id"
        >
          <img :src="item.avatar_url" alt="" />
          <p class="teacher_name">{{ item.name }}</p>
          <p class="teacher_info">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "~/static/css/teachers.css";
import "~/static/css/media.css";
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["modals", "AllData"]),
  }
};
</script>

<style>
</style>