<template>
  <div id="courses-page">
    <headerComponent :dark="false" />

    <div class="_main_heading light">
      <div class="_width">
        <h1>Все курсы</h1>
        <p>
          Мы создаем современное программное обеспечение, чтобы вы смогли
          сосредоточиться на самом важном активе — ваших людях. Для современного
          HR-профессионала важно уметь управлять постоянным процессом изменений,
          опираясь на технологии.
        </p>
      </div>
    </div>
    <div class="_width">
      <Courses v-if="AllData.AllCourse.body.length >= 1" />
      <Loading v-else />
    </div>
    <Form class="_bg-black" />
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
import "~/static/css/course.css";

export default {
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapActions(["GetData"]),
    ...mapMutations(["OPEN_MODAL"]),
  },
  mounted() {
    if (process.client) {
      this.WL =
        window.location.href.split("/")[
          window.location.href.split("/").length - 1
        ];
    }
    this.GetData([this.WL]);
  },
};
</script>

<style>
</style>
