<template>
  <div id="techers" class="">
    <headerComponent :dark="false" />
    <div class="_main_heading light">
      <div class="_width">
        <h1>Команда преподавателей</h1>
        <p>
          Мы создаем современное программное обеспечение, чтобы вы смогли
          сосредоточиться на самом важном активе — ваших людях. Для современного
          HR-профессионала важно уметь управлять постоянным процессом изменений,
          опираясь на технологии.
        </p>
      </div>
    </div>
    <Teachers v-if="AllData.AllTeachers.body.length >= 1" />
    <Loading class="round" v-else />
    <Form class="_bg-black" />
  </div>
</template>

<script>
import "../static/css/teachers.css";
import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      AllTeachers: [],
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapActions(["GetData"]),
    ...mapMutations(["OPEN_MODAL"]),
  },
  async mounted() {
    if (process.client) {
      this.WL =
        window.location.href.split("/")[
          window.location.href.split("/").length - 1
        ];
    }
    await this.GetData([this.WL]);
  },
};
</script>

<style>
</style>


