<template>
  <div id="gallery">
    <headerComponent :dark="false" />
    <div class="_main_heading light">
      <div class="_width">
        <h1>Лучшие моменты из жизни школы</h1>
        <p>
          Мы создаем современное программное обеспечение, чтобы вы смогли
          сосредоточиться на самом важном активе — ваших людях. Для современного
          HR-профессионала важно уметь управлять постоянным процессом изменений,
          опираясь на технологии.
        </p>
      </div>
    </div>
    <div class="_width">
      <div class="_heading">
        <Gallery />
      </div>
    </div>
    <FormElement class="_bg-black" />
  </div>
</template>

<script>
</script>

<style>
</style>
