<template>
  <div id="homepage">
    <headerComponent :dark="true" />

    <div class="_main_heading">
      <div class="_width">
        <h1>
          <span class="_underline">С нуля до PRO</span> в самой <br />
          крупной IT-школе Самарканда
        </h1>
        <p class="_grey">
          Мы создаем современное программное обеспечение, чтобы вы смогли
          сосредоточиться на самом важном активе — ваших людях. Для современного
          HR-профессионала важно уметь управлять постоянным процессом изменений,
          опираясь на технологии.
        </p>

        <div class="isDone">
          <div>
            <img src="~/static/img/check.svg" alt="" />
            <b>6 полноценных курсов</b>
          </div>
          <div>
            <img src="~/static/img/check.svg" alt="" />
            <b>Более 1200 студентов</b>
          </div>
          <div>
            <img src="~/static/img/check.svg" alt="" />
            <b>2 года на рынке</b>
          </div>
        </div>

        <div class="_buttons">
          <button
            class="_button"
            @click="
              OPEN_MODAL({
                name: 'modal_course',
              })
            "
          >
            Записаться на курс
          </button>
          <button
            class="_button _black-bg"
            @click="OPEN_MODAL({ name: 'modal_free_lesson' })"
          >
            Открытый урок
          </button>
        </div>
      </div>
    </div>

    <div class="_width groups">
      <div class="_heading">
        <span class="_h2">Успейте записаться в новые группы</span>
      </div>
      <LoadingList v-if="AllData.AllGroups.body.length == 0" />
      <Group v-else />
      <nuxt-link to="/AllGroups" class="_link"
        ><b>Перейти ко всем наборам</b></nuxt-link
      >
    </div>

    <div class="_width courses">
      <div class="_heading">
        <span class="_h2">Все курсы</span>
      </div>
      <LoadingList v-if="AllData.AllCourse.body == 0" />
      <Courses />
    </div>

    <div class="_width">
      <About />
    </div>
    <div class="arrows _bg_grey">
      <div class="_heading">
        <span class="_h2"
          >HR-экспертиза TalentTech берет начало в «Северстали», где
          HR-направлению всегда уделялось стратегическое значение.</span
        >
      </div>

      <img src="~/static/img/Arrows.png" alt="" />
      <div class="buttons">
        <button
          class="_button"
          @click="
            OPEN_MODAL({
              name: 'modal_course',
            })
          "
        >
          Записаться на курс
        </button>
      </div>
    </div>

    <div class="_width">
      <div class="_heading">
        <span class="_h2"
          >Команда <span class="_underline">преподавателей</span></span
        >
      </div>
      <Teachers />
    </div>
    <div class="_heading">
      <FormElement class="_bg-black" />
    </div>

    <div class="_width">
      <div class="_heading">
        <span class="_h2">Галерея фотографий</span>
      </div>
      <Gallery />
    </div>
  </div>
</template>

<script>
import "~/static/css/home-page.css";

import { mapMutations, mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapActions(["GetData"]),
    ...mapMutations(["OPEN_MODAL"]),
  },
  mounted() {
    if (process.client) {
      this.WL =
        window.location.href.split("/")[
          window.location.href.split("/").length - 1
        ];
      this.GetData(["AllGroups", "AllCourse", "AllTeachers"]);
    }
  },
};
</script>

<style>
</style>