#all-courses {
  ._main_heading {
    ._grey {
      margin-top: 28px;
      margin-bottom: 52px;
    }

    ._flex {
      margin-bottom: 30px;
    }

    button {
      margin-top: 30px;
    }
  }
}

._form_modal {
  ._h3 {
    margin-bottom: 4px;
  }

  ._link_text {
    margin-bottom: 24px;
  }

  ._flex {
    ._grey {
      margin-left: 11px;
    }

    margin-bottom: 5px;
  }
}


.block {
  height: fit-content;
  width: fit-content;
  display: block;
}

#all-courses {
  ._grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 4fr)) !important;
    grid-gap: 89px;
    margin-bottom: 120px;

    ._lesson {
      width: 400px;
    }

    .preview {
      width: 276px;
      height: 174px;
      margin-bottom: 25px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
      }
    }

    .description {
      width: 323px;
      white-space: wrap;

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}


._bg_grey {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content !important;
  padding-bottom: 80px;
  transition: 300ms ease;


  .list-programs {
    transition: 300ms ease;

    width: 900px;
    height: fit-content;
    margin: 0 auto;

    ._h2 {
      margin-top: 80px;
    }

    ._titles {
      transition: 300ms ease;
      width: 100%;
      height: fit-content !important;
      margin-bottom: 80px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      gap: 14px;



      div {
        display: flex;
        gap: 20px;
        align-items: center;

        p {
          white-space: nowrap;
          margin-top: 13px;
        }

        .line {
          width: 100%;
          height: 0.5px;
          background-color: #C4C4C4;

        }
      }

      h3 {
        font-size: 22px;
        color: #2B41F0;
        margin-top: 28px;
        ;
        cursor: pointer;
      }



    }
  }
}

._programs {
  margin-top: 50px;
  mix-blend-mode: multiply;
}

._grid {
  // grid-gap: 149px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));

  ._lesson {
    width: 400px !important;

    ._p {
      white-space: wrap;
    }
  }
}
