header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #000;
    padding: 24px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &._white_heading {
        background-color: var(--bg);
    }
    .side-left {
        display: flex;
        align-items: center !important;
        .links {
            display: flex;
            align-items: center;
            padding-left: 44px;
            a {
                margin-right: 30px;
                font-size: 16px;
            }
        }
    }

    .side-right{
        display: flex;
        align-items: center;
        grid-gap: 36px;
    }

    .mobile{
        display: none;   
    }
    .tumbler-block {
        display: flex;
        align-items: center;
        p{
            margin-top: 0;
        }
        &:hover {
            cursor: pointer;
        }
        .tumbler {
            width: 39px;
            height: 24px;
            min-width: 39px;
            border-radius: 50px;
            background-color: var(--dark);
            position: relative;
            display: flex;
            align-items: center;
            padding: 3px;
            margin: 0 10px;
            transition: 0.3s;
            &.active {
                transition: 0.3s;
                background-color: #00f;
                div {
                    transform: translateX(15px);
                }
            }
            div {
                transition: 0.3s;
                transform: translateX(1px);
                border-radius: 50px;
                width: 18px;
                height: 18px;
                background-color: #fff;
            }
        }
    }
}

._heading {
    padding: 80px 0 25px;
}
