#homepage {
    ._flex{
        gap: 22px;
    }
    ._width {
    }
    ._main_heading {
        p {
            max-width: 708px;
            margin: 28px 0;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            height: 750px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 750px;
            background-image: url(~/static/img/bigViewport.png);
        }

        .isDone {
            display: flex;
            grid-gap: 39px;
            margin-bottom: 28px;
            div {
                display: flex;
                align-items: centre;
                grid-gap: 8px;
            }
        }
        ._buttons {
            button {
                margin-right: 16px;
            }
        }
    }

    .arrows {
        display: flex;
        flex-direction: column;
        padding: 80px 190px;
        h2 {
            max-width: 860px;
            font-size: 38px;
        }
        img {
            margin-top: 55px;
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                margin: 35px auto;
            }
        }
    }

    .crown {
        img {
            left: -10px;
            top: -30px;
            position: relative;
        }
    }
}
