$_width-big: 1680px;
$_width: 1440px;
$_width-small: 1120px;
$_width-minimal: 900px;

:root {
  --bg: #f6f7fb;
  --corp: #2b41f0;
  --black: #000000;
  --dark: #dadada;
  --white: #fff;
  --grey: #8f959e;

  //   --blue: #eaecf5;
  //   --red: #db1536;
  //   --pink: #ff6b60;
  //   --yellow: #fdbf23;
  //   --green: #1ca345;
  //   --dark-grey: #4a637c;
  //   --dark-blue: #10162f;

  --width_big: 1680px;
  --width: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "Gilroy", sans-serif;
}

._main_heading {
  padding: 158px 0 107px;
  overflow: hidden;
  background-color: #000;
  color: #fff;

  p {
    max-width: 700px;
    font-weight: 400;
    font-size: 16px;
  }

  &.light {
    background-color: #f6f7fb !important;
    color: #000 !important;

    h1 {
      margin-bottom: 36px;
    }
  }
}

._white {
  a {
    color: var(--white) !important;
  }
}

._dark {
  a {
    color: var(--black) !important;
  }
}

._logo {
  position: relative;
  top: 5px;
}

._pc {
  display: block;
}

._mobile {
  display: none;
}

h1,
._h1 {
  font-size: 54px;
  font-weight: 600;

  &._black {
    color: var(--black);
  }

  &._white {
    color: var(--white);
  }
}

h2,
._h2 {
  font-weight: 600;
  font-size: 42px;

  &._black {
    color: var(--black);
  }

  &._white {
    color: var(--white);
  }
}

._h3,
h3 {
  font-weight: 600;
  font-size: 24px;

  &._black {
    color: var(--black);
  }

  &._white {
    color: var(--white);
  }
}

._link_text {
  color: var(--corp);
  font-size: 24px;
}

._p,
p {
  font-weight: 400;
  font-size: 16px;

  &._dark {
    color: var(--dark);
  }

  &._black {
    color: var(--black);
  }

  &._grey {
    color: var(--grey);
  }
  &._through_line{
    text-decoration-line: line-through;
  }
}

._b,
b {
  font-weight: 600;
  font-size: 18px;

  &._black {
    color: var(--black);
  }

  &._grey {
    color: var(--grey);
  }
}

._person {
  display: flex;
  align-items: center;

  ._teacher {
    margin-left: 20px;
  }
}

._profile {
  img {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    object-fit: cover;
  }
}

button {
  width: 131px;
  height: 44px;
  background: var(--corp);
  color: var(--white);
  border-radius: 41px;
  white-space: nowrap;
  transition: 0.3s;
}

._white {
  color: var(--white);
}

button:hover {
  cursor: pointer;
  box-shadow: -4px 4px 0 #000;
  opacity: 0.85;
  transform: translateY(-2px);
}

._button {
  width: 232px;
  height: 44px;
  border-radius: 61px;
  border: 2px solid var(--corp);
  font-size: 16px;

  &._no-bg {
    font-size: 16px;
    color: var(--black);
    background-color: transparent;
  }

  &._black-bg {
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
  }

  &._large {
    width: 325px;
    height: 44px;
  }
}

input,
select {
  width: 325px;
  height: 44px;
  padding-left: 20px;
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 66px;
  color: var(--carp);
  margin-bottom: 15px;

  &::placeholder,
  &::select {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
  }
}

._input_dark {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--black);
}

._grid {
  display: grid;
  grid-gap: 20px;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 4fr));
}

._item {
  background-color: var(--bg);
  transition: 0.3s;
  border: 1px solid transparent;
  display: block;

  ._description {
    p {
      &:nth-child(3) {
        color: #000 !important;
      }
    }
  }

  cursor: pointer;
}

._preview {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

._item:hover .preview {
  width: 400px;
}

._description {
  width: 100%;
  white-space: wrap;
  padding: 10px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

._wrapper {
  max-width: $_width;
  margin: 0 auto;
  padding: 75px 20px;
}

._margin_large {
  height: 120px;
}

._margin {
  height: 80px;
}

._margin_small {
  height: 40px;
}

._margin-minimal {
  height: 20px;
}

._flex {
  display: flex !important;
  flex-wrap: wrap !important;
  grid-gap: 20px;
}

._bg_grey {
  background-color: var(--bg);
}

._bg-black {
  background-color: var(--black);
}

._margin {
  height: 74px;
}

._flex {
  display: flex;
  flex-wrap: wrap;
}

._bg_grey {
  background-color: var(--bg);
}

._course {
  padding: 30px;
  width: 435px;
  height: 330px;
  color: black !important;
  background: #f6f7fb;
  border-radius: 14px;

  .bar {
    height: 6px;
    width: 100%;
    background: #c4c4c4;
    border-radius: 40px;
    margin: 19px 0 25px 0;

    .count {
      border-radius: 40px;
      width: 60%;
      height: 100%;
      background-color: blue;
    }
  }

  .about {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    grid-gap: 6px;

    b {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

._form {
  width: 100%;

  ._width {
    padding: 0;

    .side-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

._form {
  width: 100%;

  .open_lesson {
    ._h1 {
      font-size: 50px;
    }
  }

  ._width {
    padding: 0 !important;
    display: flex;

    form {
      position: relative;
      display: flex;
      flex-direction: column;

      .line {
        position: absolute;
        top: 55px;
      }

      button {
        width: 325px;
      }
    }

    .side-right {
      display: flex;
      position: relative;
      left: -150px;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.gradient-text {
  margin-bottom: 14px;
  background: 0 0;
  font-weight: 600;
  font-size: 500%;
  background: linear-gradient(180deg, #2b41f0, #955591 51.04%, #fff 99.48%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: #fff;
}

._modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191c2181;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

._centered_btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

._form_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191c2181;
  backdrop-filter: blur(20px);
  z-index: 1000;
}

._form_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background: white;
  padding: 46px 50px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;

  h3 {
    margin-bottom: 16px;
  }
}

._modals_form {
  width: 325px;

  input,
  button,
  select {
    display: block;
    width: 100%;
  }

  ._button {
    margin-top: 14px;
  }
}

select {
  border-radius: 66px;
  appearance: none;
  color: #8f959e;

  &._dark {
    background-color: var(--black);
    border: 1px solid #ffffff;

    option {
      background-color: black;
      border: none;
    }
  }

  &._white {
    background-color: var(--bg);
    border: 1px solid #000000;

    option {
      background-color: white;
      border: none;
    }
  }

  &_black_placeholder {
    ::placeholder {
      color: var(--black) !important;
      color: black;
    }

  }

  option {
    &:hover {
      background-color: white;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

._checkbox {
  width: 14px !important;
  height: 14px !important;
}

._checkbox_wrapper {
  display: flex;
  align-items: center;
  margin-right: 26px;
  height: fit-content;

  gap: 7px;

  p {
    white-space: nowrap;
    font-weight: 600;
  }

  input {
    margin: 0;
  }

  ._checkbox {
    display: block !important;
    width: 15px;
    height: 15px;
  }
}

._line_vertical {
  height: 100%;
  width: 15px;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 15px;
}

.fade-enter-active,
.fade-leave-active,
.height-enter-active,
.height-leave-active,
.bottom-top-enter-active,
.bottom-top-leave-active,
.transform-bottom-top-enter-active,
.transform-bottom-top-leave-active,
.top-bottom-enter-active,
.top-bottom-leave-active {
  transition: 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.height-enter,
.height-leave-to {
  opacity: 0;
  height: 0;
}

.bottom-top-enter,
.bottom-top-leave-to {
  margin-top: 30px;
  opacity: 0;
}

.top-bottom-enter,
.top-bottom-leave-to {
  margin-top: -30px;
  opacity: 0;
}

.transform-bottom-top-enter,
.transform-bottom-top-leave-to {
  // margin-top: 30px;
  transform: translateY(30px);
  opacity: 0;
}

// Menu
.menu-animation-enter-active,
.menu-animation-leave-active {
  transition: 0.4s linear;
}

.menu-animation-enter,
.menu-animation-leave-to {
  margin-top: -100%;
  opacity: 0;
}

.y_map {
  height: 562px !important;
}

.line {
  height: 257px;
  width: 0.5px;
  background-color: #8f959e;
}

._flex_spec {
  gap: 52px;
}

._text_end {
  cursor: pointer;
  margin-top: -10px;
}

.links {
  img {
    cursor: pointer !important;
  }
}

._form_modal {
  ._h3 {
    margin-bottom: 4px;
  }

  ._link_text {
    margin-bottom: 24px;
  }

  ._flex {
    margin-bottom: 5px;

    p {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 66px;
    }
  }
}

._loading_block {
  max-width: 100%;
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  animation: 3s 0.55s infinite loading_elements;
  border-radius: 12px;
  margin: 44px;

  &._profile {
    border-radius: 50%;
  }
}

//Animation
@keyframes loading_elements {

  0%,
  100% {
    opacity: 1;
  }

  33% {
    opacity: 0.3;
  }

  66% {
    opacity: 0.6;
  }
}

._width {
  max-width: 1394px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

._link {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  color: #2b41f0;

  b {
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #2b41f0;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

._underline {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10%;
    right: 0;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
    background-size: contain;
    background-image: url(~/static/img/underline.svg);
    width: 100%;
    height: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
